.mydropdown {
    max-height: 90vh;
    overflow-y: auto;
}

.taglistcontainer {
    flex-grow: 1;
    border: 1px solid black;
    margin-top: 1rem;
    padding: 1rem;
}
.prefdropdown .card {
    min-height: 300px;
}
.title {
    font-size: 7rem;
    font-weight: normal;
}
.subtitle {
    font-size: 1.5rem;
    font-weight: normal;
    font-style: italic;
}

.place-name {
    font-weight: bold;
    padding: 1rem 2rem;
    display: block;
}

.place-name:hover {
    text-decoration: none;
    background-color: lightgray;
}